header {
    width: 100%;
    padding: 26px 8%;
    position: fixed;
    top: 0;
    left: 0;
    background: #f6ecfa;
    z-index: 1000;
    height: auto;
}

body {
    padding-top: 100px;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#nav_logo {
    font-size: 18px;
    display: flex;
    color: rgb(123, 34, 206);
    gap: 20px;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}


#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {

    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

#mobile_menu.active {
    display: block;
    flex-direction: column;
    align-items: center;
    background-color: #faeafc;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
}

#mobile_nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0px
}

#mobile_nav_list .nav-item {
    list-style: none;
    text-align: center;
}