*{
    margin: 0;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui;
    background-color: #3d0e63;
    height: 8vh;
}
/*main {
    background: url("img/fundo.png") no-repeat center center;
    background-size: cover;
    height: 92vh;
}*/

.nav-list{
    display: flex;
    list-style: none;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    cursor : pointer; 
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #ffffff;
    margin: 7px; 
}

@media(max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 25vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
    .nav-list.active{
        transform: translateX(0);
        transition: transform 0.5s ease-in;
    }
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}