/* estilos principais */
/*@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
}

p {
    text-align: justify;
    text-indent: 20px;
    margin: 0 0 3rem 0;
}

h2 {
    color: #0e1769;
    font-size: 30px;
    margin: 1rem 0 1rem 0;
}

@media (max-width: 600px) {
    h2 {
        font-size: 22px;
    }
}

/*Deixar o texto e as imagens centralizadas*/
.paragrafos {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    max-width: 1000px;
    margin: 30px auto;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    font-size: 18px;
    line-height: 1.6;
}

.fotoPareto {
    text-align: center;
    margin-top: 20px 0;
    box-sizing: border-box;
}

.fotoPareto img {
    display: inline-block
}

.defeitoTabela {
    text-align: center;
    margin-top: 20px;
    box-sizing: border-box;
}

.defeitoTabela img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.frequenciaTabela {
    text-align: center;
    margin-top: 20px;
    box-sizing: border-box;
}

.frequenciaTabela img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.decrescenteTabela {
    text-align: center;
    margin-top: 20px;
    box-sizing: border-box;
}

.decrescenteTabela img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.totalTabela {
    text-align: center;
    margin-top: 20px;
    box-sizing: border-box;
}

.totalTabela img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.frequenciaAcumulada {
    text-align: center;
    margin-top: 20px;
    box-sizing: border-box;
}

.frequenciaAcumulada img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.formulaTabela {
    margin-top: 20px;
}

.formulaTabela img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.eixoHorizontal {
    text-align: center;
    margin-top: 20px;
    box-sizing: border-box;
}

.eixoHorizontal img {
    display: block;
    margin: 0 auto;
    max-width: 60%;
    height: auto;
}

.eixoVertical {
    text-align: center;
    margin-top: 20px;
    box-sizing: border-box;
}

.eixoVertical img {
    display: block;
    margin: 0 auto;
    max-width: 60%;
    height: auto;
}

.btn-default {
    text-decoration: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #da7fe2;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.btn-default:hover {
    background-color: #c76ed1;
}

.pareto1 {
    text-align: center;
    margin-top: 20px;
    box-sizing: border-box;
}

.pareto img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.pareto2 {
    text-align: center;
    margin-top: 20px;
    box-sizing: border-box;
}

.pareto2 img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.espaco {
    margin-top: 400px;
    text-align: center;
}

#referencias {
    margin: 40px auto;
    padding: 20px;
    background-color: #f6ecfa;
    border-left: 4px solid #7b22ce;
    border-radius: 8px;
    max-width: 900px;
}

#referencias h2 {
    color: #7b22ce;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.lista-referencias {
    list-style: none;
    padding: 0;
}

.lista-referencias li {
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 1em;
    color: #333;
}

.lista-referencias a {
    color: #7b22ce;
    text-decoration: none;
    font-weight: 600;
}

.lista-referencias a:hover {
    text-decoration: underline;
}