.tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    text-align: center;
}

#tabela {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

#tabela td {
    padding: 10px;
    border: 1px solid #ccc;
}

#tabela th {
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#tabelaGrafico {
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 800px;
    padding: 30px;
    border-radius: 8px;
    box-sizing: border-box;
}
